<!DOCTYPE html>
<html>
    <head>
        <title>Backbone Play Ground</title>
        <link rel="stylesheet" href="./main.css">
    </head>
    <body>
        {{>src/components/component-menu}}
        <script src="./main.js"></script>
    </body>
</html>