<div class="component-song-cards" data-view="SongCards" data-collection="SongCards">
    {{>src/components/SongCard/component-song-card}}
    <div class="carousel-outer">
        <div class="pure-g">
            <script type="text/x-handlebars-template" id="component-song-cards"></script>
        </div>
    </div>
</div>

{{>src/components/MoodSelector/component-mood-selector}}
