<script type="text/x-handlebars-template" id="component-song-card-preview">
    <div class="card-preview-outer">
        <div class="card-preview">
            <img src="<@= element.artworkUrl100 @>" alt=""/>
        </div>
    </div>
</script>