<script type="text/x-handlebars-template" id="component-song-card-preview" data-class-name="pure-u-2">
    <div class="card-preview">
        <img src="<@= element.artworkUrl100 @>" alt=""/>
        <div class="card-preview-name"><@= element.trackName @></div>
    </div>
</script>