<div class="component-mood-selector" data-view="MoodSelector" data-collection="SongCards">
    {{>src/components/Title/component-title}}
    {{>src/components/SongCard/component-song-card-preview}}
    <script type="text/x-handlebars-template" id="component-mood-selector">
    </script>
    <div class="selector-outer">
        <div class="selector-previews pure-g"></div>
    </div>
</div>