<div class="component-mood-selector" data-view="MoodSelector" data-collection="SongCards">
    {{>src/components/SongCard/component-song-card-preview}}
    <div class="selector-outer pure-g">
        <script type="text/x-handlebars-template" id="component-mood-selector"></script>
    </div>
</div>