{{>src/fragments/header}}
<body>
    {{>src/components/Menu/component-menu}}
    {{>src/components/Filter/component-filter}}
    {{>src/components/Posts/component-posts}}
    {{>src/fragments/footer}}
</body>