{{>src/fragments/header}}
<body>
    {{>src/components/SongCards/component-song-cards}}

    {{>src/components/Menu/component-menu}}
    {{>src/components/Filter/component-filter}}
    {{>src/components/Posts/component-posts}}


    {{>src/fragments/footer}}
</body>